.container {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: var(--surface);
  border: solid 1px var(--on-surface-4);
}

.input {
  border: none;
  flex: 1;
  height: 100%;
  outline: none;
  min-width: 0;
}

.resetButton {
  background: none;
  border: none;
  padding: 5px;
}

.searchIcon {
  padding: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
