.header {
    height: calc(100vh - 138px);
    margin-bottom: -40px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.notFoundMessage {
  font-family: anton;
  font-size: 70px;
  text-align: center;
  color: var(--primary);
  margin-bottom: 20px;
}

.notFoundText {
    font-family: anton;
  font-size: 40px;
  text-align: center;
  color: white;
}