.section {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagSelectors {
  display: flex;
  gap: 20px;
}

.recipeResultsCount {
  font-family: anton;
  font-weight: 400;
  font-size: 21px;
}

.selectedTags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
